resources:
- name: custom-role
  type: gcp-types/iam-v1:organizations.roles
  properties:
    parent: organizations/{{ properties["organizationId"] }}
    roleId: {{ properties["roleId"] }}
    role:
      title: <Custom Title>
      description: <Custom Description>
      stage: ALPHA
      includedPermissions:
      - compute.subnetworks.get
      - compute.subnetworks.list
      - deploymentmanager.deployments.create
      - deploymentmanager.deployments.get
      - deploymentmanager.deployments.list
      - deploymentmanager.manifests.get
      - deploymentmanager.manifests.list
      - deploymentmanager.operations.get
      - deploymentmanager.operations.list
      - deploymentmanager.resources.get
      - deploymentmanager.resources.list
