resources:
- name: custom-role
  type: gcp-types/iam-v1:organizations.roles
  properties:
    parent: organizations/{{ properties["organizationId"] }}
    roleId: {{ properties["roleId"] }}
    role:
      title: <Custom Title>
      description: <Custom Description>
      stage: ALPHA
      includedPermissions:
      - cloudnotifications.activities.list
      - monitoring.alertPolicies.get
      - monitoring.alertPolicies.list
      - monitoring.dashboards.get
      - monitoring.dashboards.list
      - monitoring.groups.get
      - monitoring.groups.list
      - monitoring.metricDescriptors.get
      - monitoring.metricDescriptors.list
      - monitoring.monitoredResourceDescriptors.get
      - monitoring.monitoredResourceDescriptors.list
      - monitoring.notificationChannelDescriptors.get
      - monitoring.notificationChannelDescriptors.list
      - monitoring.notificationChannels.get
      - monitoring.notificationChannels.list
      - monitoring.publicWidgets.get
      - monitoring.publicWidgets.list
      - monitoring.timeSeries.list
      - monitoring.uptimeCheckConfigs.get
      - monitoring.uptimeCheckConfigs.list
      - resourcemanager.projects.get
      - resourcemanager.projects.list
      - stackdriver.projects.get
      - compute.addresses.get
      - compute.addresses.list
      - compute.backendBuckets.get
      - compute.backendBuckets.list
      - compute.backendServices.get
      - compute.backendServices.list
      - compute.firewalls.get
      - compute.firewalls.list
      - compute.forwardingRules.get
      - compute.forwardingRules.list
      - compute.globalAddresses.get
      - compute.globalAddresses.list
      - compute.globalForwardingRules.get
      - compute.globalForwardingRules.list
      - compute.healthChecks.get
      - compute.healthChecks.list
      - compute.httpHealthChecks.get
      - compute.httpHealthChecks.list
      - compute.httpsHealthChecks.get
      - compute.httpsHealthChecks.list
      - compute.instanceGroups.get
      - compute.instanceGroups.list
      - compute.instances.get
      - compute.instances.getGuestAttributes
      - compute.instances.getSerialPortOutput
      - compute.instances.list
      - compute.instances.listReferrers
      - compute.interconnectAttachments.get
      - compute.interconnectAttachments.list
      - compute.interconnectLocations.get
      - compute.interconnectLocations.list
      - compute.interconnects.get
      - compute.interconnects.list
      - compute.networks.get
      - compute.networks.list
      - compute.projects.get
      - compute.regionBackendServices.get
      - compute.regionBackendServices.list
      - compute.regions.get
      - compute.regions.list
      - compute.routers.get
      - compute.routers.list
      - compute.routes.get
      - compute.routes.list
      - compute.sslCertificates.get
      - compute.sslCertificates.list
      - compute.sslPolicies.get
      - compute.sslPolicies.list
      - compute.sslPolicies.listAvailableFeatures
      - compute.subnetworks.get
      - compute.subnetworks.list
      - compute.targetHttpProxies.get
      - compute.targetHttpProxies.list
      - compute.targetHttpsProxies.get
      - compute.targetHttpsProxies.list
      - compute.targetInstances.get
      - compute.targetInstances.list
      - compute.targetPools.get
      - compute.targetPools.list
      - compute.targetSslProxies.get
      - compute.targetSslProxies.list
      - compute.targetTcpProxies.get
      - compute.targetTcpProxies.list
      - compute.targetVpnGateways.get
      - compute.targetVpnGateways.list
      - compute.urlMaps.get
      - compute.urlMaps.list
      - compute.vpnTunnels.get
      - compute.vpnTunnels.list
      - compute.zones.get
      - compute.zones.list
      - serviceusage.quotas.get
      - serviceusage.services.get
      - serviceusage.services.list
