{#
Copyright 2017 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

  resources:
  - name: custom-role
    type: gcp-types/iam-v1:organizations.roles
    properties:
      parent: organizations/{{ properties["organizationId"] }}
      roleId: org_bm_gcp_masterlpu
      role:
        title: GCP Organization Master LPU
        description: Master LPU Role for Blue Medora GCP Sources
        stage: ALPHA
        includedPermissions:
        -    cloudnotifications.activities.list
        -    monitoring.alertPolicies.get
        -    monitoring.alertPolicies.list
        -    monitoring.dashboards.get
        -    monitoring.dashboards.list
        -    monitoring.groups.get
        -    monitoring.groups.list
        -    monitoring.metricDescriptors.get
        -    monitoring.metricDescriptors.list
        -    monitoring.monitoredResourceDescriptors.get
        -    monitoring.monitoredResourceDescriptors.list
        -    monitoring.notificationChannelDescriptors.get
        -    monitoring.notificationChannelDescriptors.list
        -    monitoring.notificationChannels.get
        -    monitoring.notificationChannels.list
        -    monitoring.publicWidgets.get
        -    monitoring.publicWidgets.list
        -    monitoring.timeSeries.list
        -    monitoring.uptimeCheckConfigs.get
        -    monitoring.uptimeCheckConfigs.list
        -    resourcemanager.projects.get
        -    resourcemanager.projects.list
        -    stackdriver.projects.get
        -    appengine.applications.get
        -    appengine.instances.get
        -    appengine.instances.list
        -    appengine.operations.get
        -    appengine.operations.list
        -    appengine.services.get
        -    appengine.services.list
        -    appengine.versions.get
        -    appengine.versions.list
        -    bigquery.datasets.get
        -    bigquery.datasets.create
        -    bigquery.datasets.getIamPolicy
        -    bigquery.tables.create
        -    bigquery.tables.delete
        -    bigquery.tables.export
        -    bigquery.tables.get
        -    bigquery.tables.getData
        -    bigquery.tables.list
        -    bigquery.tables.update
        -    bigquery.tables.updateData
        -    bigquery.jobs.create
        -    bigtable.appProfiles.get
        -    bigtable.appProfiles.list
        -    bigtable.clusters.get
        -    bigtable.clusters.list
        -    bigtable.instances.get
        -    bigtable.instances.list
        -    bigtable.tables.checkConsistency
        -    bigtable.tables.generateConsistencyToken
        -    bigtable.tables.get
        -    bigtable.tables.list
        -    compute.acceleratorTypes.get
        -    compute.acceleratorTypes.list
        -    compute.addresses.get
        -    compute.addresses.list
        -    compute.autoscalers.get
        -    compute.autoscalers.list
        -    compute.backendBuckets.get
        -    compute.backendBuckets.list
        -    compute.backendServices.get
        -    compute.backendServices.list
        -    compute.commitments.get
        -    compute.commitments.list
        -    compute.diskTypes.get
        -    compute.diskTypes.list
        -    compute.disks.get
        -    compute.disks.getIamPolicy
        -    compute.disks.list
        -    compute.firewalls.get
        -    compute.firewalls.list
        -    compute.forwardingRules.get
        -    compute.forwardingRules.list
        -    compute.globalAddresses.get
        -    compute.globalAddresses.list
        -    compute.globalForwardingRules.get
        -    compute.globalForwardingRules.list
        -    compute.globalOperations.get
        -    compute.globalOperations.getIamPolicy
        -    compute.globalOperations.list
        -    compute.healthChecks.get
        -    compute.healthChecks.list
        -    compute.httpHealthChecks.get
        -    compute.httpHealthChecks.list
        -    compute.httpsHealthChecks.get
        -    compute.httpsHealthChecks.list
        -    compute.images.get
        -    compute.images.getFromFamily
        -    compute.images.getIamPolicy
        -    compute.images.list
        -    compute.instanceGroupManagers.get
        -    compute.instanceGroupManagers.list
        -    compute.instanceGroups.get
        -    compute.instanceGroups.list
        -    compute.instanceTemplates.get
        -    compute.instanceTemplates.getIamPolicy
        -    compute.instanceTemplates.list
        -    compute.instances.get
        -    compute.instances.getGuestAttributes
        -    compute.instances.getIamPolicy
        -    compute.instances.getSerialPortOutput
        -    compute.instances.getShieldedInstanceIdentity
        -    compute.instances.getShieldedVmIdentity
        -    compute.instances.list
        -    compute.instances.listReferrers
        -    compute.interconnectAttachments.get
        -    compute.interconnectAttachments.list
        -    compute.interconnectLocations.get
        -    compute.interconnectLocations.list
        -    compute.interconnects.get
        -    compute.interconnects.list
        -    compute.licenseCodes.get
        -    compute.licenseCodes.getIamPolicy
        -    compute.licenseCodes.list
        -    compute.licenses.get
        -    compute.licenses.getIamPolicy
        -    compute.licenses.list
        -    compute.machineTypes.get
        -    compute.machineTypes.list
        -    compute.maintenancePolicies.get
        -    compute.maintenancePolicies.getIamPolicy
        -    compute.maintenancePolicies.list
        -    compute.networks.get
        -    compute.networks.list
        -    compute.nodeGroups.get
        -    compute.nodeGroups.getIamPolicy
        -    compute.nodeGroups.list
        -    compute.nodeTemplates.get
        -    compute.nodeTemplates.getIamPolicy
        -    compute.nodeTemplates.list
        -    compute.nodeTypes.get
        -    compute.nodeTypes.list
        -    compute.projects.get
        -    compute.regionBackendServices.get
        -    compute.regionBackendServices.list
        -    compute.regionOperations.get
        -    compute.regionOperations.getIamPolicy
        -    compute.regionOperations.list
        -    compute.regions.get
        -    compute.regions.list
        -    compute.reservations.get
        -    compute.reservations.list
        -    compute.resourcePolicies.get
        -    compute.resourcePolicies.list
        -    compute.routers.get
        -    compute.routers.list
        -    compute.routes.get
        -    compute.routes.list
        -    compute.securityPolicies.get
        -    compute.securityPolicies.getIamPolicy
        -    compute.securityPolicies.list
        -    compute.snapshots.get
        -    compute.snapshots.getIamPolicy
        -    compute.snapshots.list
        -    compute.sslCertificates.get
        -    compute.sslCertificates.list
        -    compute.sslPolicies.get
        -    compute.sslPolicies.list
        -    compute.sslPolicies.listAvailableFeatures
        -    compute.subnetworks.get
        -    compute.subnetworks.getIamPolicy
        -    compute.subnetworks.list
        -    compute.targetHttpProxies.get
        -    compute.targetHttpProxies.list
        -    compute.targetHttpsProxies.get
        -    compute.targetHttpsProxies.list
        -    compute.targetInstances.get
        -    compute.targetInstances.list
        -    compute.targetPools.get
        -    compute.targetPools.list
        -    compute.targetSslProxies.get
        -    compute.targetSslProxies.list
        -    compute.targetTcpProxies.get
        -    compute.targetTcpProxies.list
        -    compute.targetVpnGateways.get
        -    compute.targetVpnGateways.list
        -    compute.urlMaps.get
        -    compute.urlMaps.list
        -    compute.urlMaps.validate
        -    compute.vpnTunnels.get
        -    compute.vpnTunnels.list
        -    compute.zoneOperations.get
        -    compute.zoneOperations.getIamPolicy
        -    compute.zoneOperations.list
        -    compute.zones.get
        -    compute.zones.list
        -    container.apiServices.get
        -    container.apiServices.list
        -    container.bindings.get
        -    container.bindings.list
        -    container.certificateSigningRequests.get
        -    container.certificateSigningRequests.list
        -    container.clusterRoleBindings.get
        -    container.clusterRoleBindings.list
        -    container.clusterRoles.get
        -    container.clusterRoles.list
        -    container.clusters.get
        -    container.clusters.list
        -    container.componentStatuses.get
        -    container.componentStatuses.list
        -    container.configMaps.get
        -    container.configMaps.list
        -    container.controllerRevisions.get
        -    container.controllerRevisions.list
        -    container.cronJobs.get
        -    container.cronJobs.list
        -    container.customResourceDefinitions.get
        -    container.customResourceDefinitions.list
        -    container.daemonSets.get
        -    container.daemonSets.list
        -    container.deployments.get
        -    container.deployments.list
        -    container.endpoints.get
        -    container.endpoints.list
        -    container.events.get
        -    container.events.list
        -    container.horizontalPodAutoscalers.get
        -    container.horizontalPodAutoscalers.list
        -    container.ingresses.get
        -    container.ingresses.list
        -    container.initializerConfigurations.get
        -    container.initializerConfigurations.list
        -    container.jobs.get
        -    container.jobs.list
        -    container.limitRanges.get
        -    container.limitRanges.list
        -    container.namespaces.get
        -    container.namespaces.list
        -    container.networkPolicies.get
        -    container.networkPolicies.list
        -    container.nodes.get
        -    container.nodes.list
        -    container.operations.get
        -    container.operations.list
        -    container.persistentVolumeClaims.get
        -    container.persistentVolumeClaims.list
        -    container.persistentVolumes.get
        -    container.persistentVolumes.list
        -    container.petSets.get
        -    container.petSets.list
        -    container.podDisruptionBudgets.get
        -    container.podDisruptionBudgets.list
        -    container.podPresets.get
        -    container.podPresets.list
        -    container.podSecurityPolicies.get
        -    container.podSecurityPolicies.list
        -    container.podTemplates.get
        -    container.podTemplates.list
        -    container.pods.get
        -    container.pods.list
        -    container.replicaSets.get
        -    container.replicaSets.list
        -    container.replicationControllers.get
        -    container.replicationControllers.list
        -    container.resourceQuotas.get
        -    container.resourceQuotas.list
        -    container.roleBindings.get
        -    container.roleBindings.list
        -    container.roles.get
        -    container.roles.list
        -    container.scheduledJobs.get
        -    container.scheduledJobs.list
        -    container.serviceAccounts.get
        -    container.serviceAccounts.list
        -    container.services.get
        -    container.services.list
        -    container.statefulSets.get
        -    container.statefulSets.list
        -    container.storageClasses.get
        -    container.storageClasses.list
        -    container.thirdPartyObjects.get
        -    container.thirdPartyObjects.list
        -    container.thirdPartyResources.get
        -    container.thirdPartyResources.list
        -    cloudfunctions.functions.get
        -    cloudfunctions.functions.list
        -    cloudfunctions.locations.list
        -    cloudfunctions.operations.get
        -    cloudfunctions.operations.list
        -    cloudsql.backupRuns.get
        -    cloudsql.backupRuns.list
        -    cloudsql.databases.get
        -    cloudsql.databases.list
        -    cloudsql.instances.export
        -    cloudsql.instances.get
        -    cloudsql.instances.list
        -    cloudsql.instances.listServerCas
        -    cloudsql.sslCerts.get
        -    cloudsql.sslCerts.list
        -    cloudsql.users.list
        -    dns.changes.get
        -    dns.changes.list
        -    dns.dnsKeys.get
        -    dns.dnsKeys.list
        -    dns.managedZoneOperations.get
        -    dns.managedZoneOperations.list
        -    dns.managedZones.get
        -    dns.managedZones.list
        -    dns.projects.get
        -    dns.resourceRecordSets.list
        -    dataproc.clusters.get
        -    dataproc.clusters.list
        -    dataproc.jobs.get
        -    dataproc.jobs.list
        -    dataproc.operations.get
        -    dataproc.operations.list
        -    dataproc.workflowTemplates.get
        -    dataproc.workflowTemplates.list
        -    logging.logMetrics.list
        -    logging.logMetrics.get
        -    logging.sinks.list
        -    logging.sinks.get
        -    logging.usage.get
        -    logging.exclusions.list
        -    logging.exclusions.get
        -    logging.logMetrics.list
        -    logging.logMetrics.get
        -    pubsub.snapshots.get
        -    pubsub.snapshots.list
        -    pubsub.subscriptions.get
        -    pubsub.subscriptions.list
        -    pubsub.topics.get
        -    pubsub.topics.list
        -    serviceusage.quotas.get
        -    serviceusage.services.get
        -    serviceusage.services.list
        -    spanner.databases.list
        -    spanner.instanceConfigs.get
        -    spanner.instanceConfigs.list
        -    spanner.instances.get
        -    spanner.instances.list
        -    storage.buckets.list
